/* Pending add icons */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

h1,
h2 {
  color: #f3f3f3;
}
.mainZone {
  margin-top: 2rem;
  height: 70vh;
  min-height: 450px;
  width: 100%;
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  min-width: 350px;
  height: 70%;
  border-radius: 0.5rem;
  padding: 0.1rem;
  gap: 0.1rem;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  margin-top: 2rem;
}
.calculator_header {
  display: flex;
  width: 100%;
  /* border: solid 1px rgb(119, 255, 0); */
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.calculator_Title {
  /* border: solid 1px blue; */
  display: flex;
  width: 35%;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  align-items: center;
}
.calculator_window_options {
  display: flex;
  width: 30%;
}
.window_option {
  width: 25px;
  height: 25px;
}
.calculator_display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 92%;
  height: 10vh;
  border: solid 1px black;
  padding-right: 0.5rem;
}
.calculator_result {
  font-size: 2rem;
  text-align: end;
}
.button_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  gap: 0.2rem;
}
.button_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.btn {
  border-radius: 0.2rem;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 5vh;
  font-weight: 800;
  cursor: pointer;
  
}
.btn:hover {
  background: linear-gradient(145deg, #e1e1e1, #ffffff);
}
.btn:active {
  background: linear-gradient(145deg, #e1e1e1, #ffffff);
}
.window_option {
  height: 100%;
  width: 1.69rem;
}

/* NAV */
/* All */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #cf0a0a;
}
.nav ul:before,
.nav ul:after {
  content: "";
  display: table;
}
.nav ul:after {
  clear: both;
}
.nav ul > li {
  float: left;
  position: relative;
}
.nav a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #fff;
  border-left: 1px solid #595959;
}
.nav a:hover {
  text-decoration: none;
  background: #595959;
}
.nav li ul {
  background: #273754;
}
.nav li ul li {
  width: 200px;
}
.nav li ul a {
  border: none;
}
.nav li ul a:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* Not Animated
  ============================== */
.nav1 ul > li:hover ul {
  left: 0;
}
.nav1 li ul {
  position: absolute;
  left: -9999em;
  top: 36px;
  z-index: 1;
}

/* Fold Out
  ============================== */
.simpleNav ul > li:hover ul {
  max-height: 1000px;
}
.simpleNav li ul {
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}




/* FOOTER */
.madeBy{
    color: white;
}